.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @media (min-width: 768px) {
    display: none;
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    width: 80%;
    background-color: #ffffff;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: none;

    @media (min-width: 425px) {
      margin: 0.5rem;
      min-height: 40vh;
      align-items: center;
    }
    @media (min-width: 768px) {
      width: 100%;
      height: 98%;
      margin: 0;
      border-radius: 1rem;
      max-width: 28rem;
      min-width: 17rem;
    }
    & p {
      text-align: justify;
      color: #000;
      width: 90%;
    }
  }
}
.carousel {
  display: none;
  @media (min-width: 768px) {
    display: flex;
    backdrop-filter: blur(3px);
    background-color: transparent;
    justify-content: center;
    overflow: hidden;
    padding: 10px;

    & button {
      display: flex;
      justify-content: center;
      border-radius: 1rem;
      box-shadow: 0 0 10px #000;
      border: none;
    }
  }
}
.card {
  &__1 {
    transform: scale(0.8) translateX(30%);
    &.index0.index0--3 {
      animation: card1__index0 0.5s both;
      &.from--1 {
        animation: card1__index0__from1 0.5s both;
      }
    }
    &.index1.index1--2 {
      animation: card1__index1 0.5s both;
      &.from--1 {
        animation: card1__index1__from1 0.5s both;
      }
      &.from--3 {
        animation: card1__index1__from3 0.5s both;
      }
    }
    &.index2.index2--1 {
      &.from--1 {
        transform: scale(1) translateX(100%);
      }
      &.from--2 {
        animation: card1__index2__from2 0.5s both;
      }
      &.from--3 {
        animation: card1__index2__from3 0.5s both;
      }
    }
  }
  &__2 {
    transform: scale(1);
    &.index1.index1--1 {
      animation: card2__index1__right 0.5s both;
      &.from--3 {
        animation: card2__index1__from3 0.3s both linear;
      }
    }
    &.index1.index1--3 {
      animation: card2__index1__left 0.5s both;
      &.from--1 {
        animation: card2__index1__from1 0.3s both linear;
      }
    }
    &.index2.index2--2 {
      &.from--1 {
        animation: card2__index2__from1 0.5s both;
      }
      &.from--3 {
        animation: card2__index2__from3 0.5s both;
      }
    }
  }
  &__3 {
    transform: scale(0.8) translateX(-30%);
    &.index0.index0--1 {
      animation: card3__index0 0.5s both;
      &.from--3 {
        animation: card3__index0__from3 0.5s both;
      }
    }
    &.index1.index1--2 {
      animation: card1__index1 0.5s both;
      &.from--1 {
        animation: card3__index1__from1 0.5s both;
      }
      &.from--3 {
        animation: card3__index1__from3 0.5s both;
      }
    }
    &.index2.index2--3 {
      &.from--1 {
        animation: card3__index2__from1 0.5s both;
      }
      &.from--2 {
        animation: card3__index2__from2 0.5s both;
      }
      &.from--3 {
        transform: scale(1) translateX(-100%);
      }
    }
  }
  &_Badg-Heure {
    background-color: #aae1ff;
  }
  &_GeStionB {
    background-color: #cbe0a3;
  }
}

.index {
  &0 {
    z-index: 0;
  }
  &1 {
    z-index: 1;
  }
  &2 {
    z-index: 2;
  }
}
.buttonsLayout {
  display: flex;
  gap: 0.25rem;
}
.buttonSource {
  display: block;
  background-color: #ffffff;
  width: 40%;
  border-radius: 999px;
  color: #000;
  text-decoration: none;
}
.logo-projects {
  height: 10%;
  min-height: 3rem;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  &__Badg-Heure {
    background-image: url("../src/assets/logo_badg-heure.png");
  }
  &__GeStionB {
    background-image: url("../src/assets/logo_GeStionB.png");
  }
}
