.rating {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  @media (min-width: 425px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 500px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.skill {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 5rem;
  max-width: 15rem;
  margin: 0.5rem;
  justify-content: center;
  align-items: center;
  justify-self: center;
  aspect-ratio: 1/1;
  gap: 0.25rem;
}

.logo {
  display: flex;
  min-width: 5rem;
  max-width: 10rem;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  font-size: 12vw;
  font-weight: 600;
  width: 100%;
}

.progressBar {
  background-color: black;
  width: 80%;
  height: 1rem;
  padding: 2px;
  border-radius: 999px;

  &::after {
    content: "";
    display: block;
    height: 100%;
    border-radius: 999px;
    background-color: var(--bar-color);
    width: var(--bar-width);
  }
}
