.rating {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  @media (min-width: 425px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: 500px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.skill {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-width: 5rem;
  max-width: 15rem;
  margin: 0.5rem;
  justify-content: center;
  align-items: center;
  justify-self: center;
  aspect-ratio: 1/1;
  gap: 0.25rem;
}
.logo {
  display: flex;
  min-width: 5rem;
  max-width: 10rem;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  font-size: 12vw;
  font-weight: 600;

  &__react {
    width: 100%;
    background-image: url("../src/assets/logo_react.png");
  }
  &__html {
    width: 100%;
    background-image: url("../src/assets/logo_html.png");
  }
  &__css {
    width: 100%;
    background-image: url("../src/assets/logo_css.png");
  }
  &__scss {
    width: 100%;
    background-image: url("../src/assets/logo_scss.png");
  }
  &__javascript {
    width: 100%;
    background-image: url("../src/assets/logo_javascript.png");
  }
  &__java {
    width: 100%;
    background-image: url("../src/assets/logo_java.png");
  }
  &__powershell {
    width: 100%;
    background-image: url("../src/assets/logo_powershell.png");
  }
  &__c-sharp {
    width: 100%;
    background-image: url("../src/assets/logo_c-sharp.png");
  }
}
.progressBar {
  background-color: black;
  width: 80%;
  height: 1rem;
  padding: 2px;
  border-radius: 999px;
  &--react::after {
    background-color: #00dcff;
    width: 40%;
  }
  &--html::after {
    background-color: #f73e00;
    width: 80%;
  }
  &--css::after {
    background-color: #0277bd;
    width: 60%;
  }
  &--scss::after {
    background-color: #db5d9c;
    width: 60%;
  }
  &--javascript::after {
    background-color: #dcb900;
    width: 40%;
  }
  &--java::after {
    background-color: #ef4431;
    width: 20%;
  }
  &--powershell::after {
    background-color: #027fcf;
    width: 40%;
  }
  &--c-sharp::after {
    background-color: #70187e;
    width: 60%;
  }

  &::after {
    content: "";
    display: block;
    height: 100%;
    border-radius: 999px;
  }
}
